[Unit]
Description=Encrypt k3s token credential on first boot
ConditionPathExists=/var/tmp/rancher/k3s/k3s-token.secret
Before=k3s.service
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/mkdir -p /etc/rancher/k3s
ExecStart=/usr/bin/systemd-creds encrypt --with-key=auto --name=k3s-token /var/tmp/rancher/k3s/k3s-token.secret /etc/rancher/k3s/k3s-token
ExecStartPost=/usr/bin/shred -u /var/tmp/rancher/k3s/k3s-token.secret

[Install]
WantedBy=multi-user.target
